.contact {
  background-image: url(image/contactformbackgroundshapes.png);
  background-color: #6070ff;
  background-size: cover;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 150px;
  border-top-left-radius: 12%;
  padding-bottom: 30px;
}
.contact button {
  color: #6070ff;
  background-color: #fff;
}

.form-control {
  margin-bottom: 20px;
}

@media screen and (max-width: 357px) {
  .content .container {
    background-image: url(/image/headershape.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    border-bottom-left-radius: 30px;
  }

  .h1 {
    margin-top: 20%;
    font-size: 40px;
    width: 260px;
  }
  .list-group li {
    border: none;
  }

  .contact-link {
    text-decoration: none;
  }

  .work .container .card {
    height: 575px;
    margin-bottom: 44px;
  }

  .work .container .card .list-group {
    margin-bottom: 20px;
  }

  .about-title {
    display: inline;
  }

  .about-title i {
    float: right;
  }
  .work-img {
    width: 329px;
    padding: 20px;
  }

  .side .container .list-group li {
    padding-left: 0;
    padding-right: 19px;
  }

  .lang li {
    background-color: #ebebff;
    margin-right: 12px;
  }

  .child-list .list-group {
    display: block;
  }

  .bottom {
    margin-top: 53px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-left: 155px;
    margin-right: 155px;
  }

  .navbar-nav li {
    padding: 32px;
  }

  .content {
    background-image: url(/image/Headerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    border-bottom-left-radius: 30px;
  }

  .d-flex {
    width: 920px;
    margin-left: 260px;
  }

  .h1 {
    width: 306px;
    margin-top: 177px;
  }

  .paragraph {
    font-size: 20px;
  }

  .contact-link {
    text-decoration: none;
  }

  .social {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .social li {
    padding: 5px;
    font-size: 20px;
    margin-right: 23px;
  }

  .work {
    margin-left: 203px;
    margin-top: 181px;
  }

  .card {
    margin-bottom: 128px;
    height: 350px;
  }

  .card .d-flex {
    margin-left: 85px;
  }
  .work-img {
    margin: 37px;
  }
  .work-paragraph {
    font-size: 18px;
  }

  .work-title {
    margin-top: 26px;
  }

  .left-side {
  }

  .list-group li {
    border: none;
    padding-left: 0;
  }
  .lang {
    margin-bottom: 34px;
  }

  .lang li {
    background-color: #ebebff;
    margin-right: 12px;
  }

  .about i {
    float: right;
  }
  .about-title {
    width: 100px;
    display: inline;
  }

  .about-paragraph {
    font-size: 19px;
  }

  .child-list {
    border: none;
  }

  .child-elements ul li {
    background-color: #d5c8c8;
    padding: 10px;
    padding-right: 11px;
    margin-right: 16px;
  }
}
